@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* Tailwind base imports */
@import "tailwindcss";

/* Your custom CSS */
:root {
  --anarock-font: "Outfit" !important;
}

body,
button,
input,
select,
textarea {
  font-family: var(--anarock-font);
}

@layer base {
  :root {
    --anarock-font: "Outfit", sans-serif;
  }

  body {
    font-family: var(--anarock-font);
  }
}

.my-custom-class {
  color: #123456;
  padding: 10px;
}
