/* @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

/* Tailwind base imports */
@import "tailwindcss";
/* @import 'tippy.js/dist/tippy.css'; */


/* Your custom CSS */
:root {
  --anarock-font: "Outfit" !important;
  /* --anarock-font: "Geist" !important; */
}

body,
button,
input,
select,
textarea {
  font-family: var(--anarock-font);
}

@layer base {
  :root {
    /* --anarock-font: "Geist", sans-serif; */
    --anarock-font: "Outfit", sans-serif;
  }

  body {
    font-family: var(--anarock-font);
  }
}

.my-custom-class {
  color: #123456;
  padding: 10px;
}
